@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Rubik:wght@400;500&family=UnifrakturCook&display=swap');

$headerfont: "UnifrakturCook" , Helvtica;

.header-wrapper{
    display:flex;
    justify-content: space-around;
}

.header-title h1 {
    font-family: 'UnifrakturCook', Helvetica;
    //font-family: 'Rubik', Helvetica;
    font-weight: 500;
}
