* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  width: min(100% - 40px , 1000px);
  margin-inline: auto;
  height: 100%;
  transition: 0.8s;
}

//Typographuy
//font-family: 'Roboto', sans-serif;
//font-family: 'Rubik', sans-serif;
//font-family: 'UnifrakturCook', cursive;
