*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  //width: min(100% - 40px , 1000px);
  margin-inline: auto;
  height: 100vh;
  transition: 0.8s;
}

//Colour
//:root{
//    --background-colour:;
//    --foregorund-color:;
//    --font-colour:;
// }


//Typographuy
//font-family: 'Roboto', sans-serif;
//font-family: 'Rubik', sans-serif;
//font-family: 'UnifrakturCook', cursive;

@font-face{
    font-family: 'UnifrakturCook';
    src: local('UnifrakturCook'),
    url('./fonts/UnifrakturCook/UnifrakturCook-Bold.ttf') format('truetype')
}
@font-face{
    font-family: 'Rubik';
    src: local('Rubik'),
    url('./fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype')
}
