.postmedia {}


.newssection{
    width: 90%;
    margin-inline: auto;
}



.postmedia img {
    width: 80%;
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.postauthor{
    text-align: right;
}

.postauthor p{
    font-weight: 100;
}
